HOST=0.0.0.0
PORT=8000
DEFAULT_SAVE_DIR=/data/downloads
APP_CACHE_DIR=/data/cache
APP_TEMP_DIR=/data/tmp
YT_DLP_BIN=yt-dlp
FFMPEG_BIN=ffmpeg
HF_HOME=/data/cache/huggingface
HF_HUB_CACHE=/data/cache/huggingface/hub
TRANSFORMERS_CACHE=/data/cache/huggingface/transformers
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=0
